:root {
  /* --cardsArrayLength: 60; */
  --cardsDistance: 30px;

  --heroBannerBackground-Color: white;

  --projectsComponent-text-background-color: black;

  --partnersComponent-background-color: rgba(1, 1, 1, 0.923);

  --heroBanner-button-text-background-color: rgb(30, 30, 32);

  --footerBackgroundColor: rgb(241, 241, 241);
  --footer-icons-color: black;
  --footer-text-color: black;

  --partnersPage-background-color: white;

  --buttonBlack: rgb(30, 30, 32);
  --blackBackground: rgb(30, 30, 32);
  --buttonWhite: white;
  --whiteText: white;
  --blackText: rgb(30, 30, 32);

  --designerCardsBody-background-color: rgb(62, 62, 62);

  --phoneMaxWidth: 90%;
  --maxWidth: 1200px;
  --singleNewsMaxWidth: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
button {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

#root {
  margin-bottom: 0px;
  box-sizing: border-box;
}

.App {
  width: 100%;
  /* background-color: white;  */
  /* background-image: radial-gradient(circle, #c0c0c069 1.5px, transparent 3px); */
  background-image: url("./images/app-background.png");
  background-repeat: repeat;
  /* background-size: 20px 20px; */
}

/* Navbar styles */
.navbar-logo {
  width: 160px;
  object-fit: contain;
}

.offcanvas-title {
  font-weight: 600 !important;
  font-size: 22px !important;
}

.navbar-nav a {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.flag-button {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  background-color: #00000000 !important;
}
.flag-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Hero banner */
.hero-banner {
  height: 70vh;
}

.hero-banner-carousel {
  /* background-color: var(--heroBannerBackground-Color); */
}

.carousel-container,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-inner {
  height: calc(100% - 40px) !important;
  margin-bottom: 0px !important;
}

.carousel-image-container {
  height: 100%;
  width: 100%;
}

.carousel-item,
.carousel-image-container {
  position: relative;
}

.carousel-item-inner-link-container {
  /* width: 100%;
  height: 100%;
  position: relative; */
}

.carousel-image-container {
  position: absolute;
  top: -100%;
  left: 0;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.carousel-inner .active .carousel-image-container {
  animation: heroBannerImageAnimation 1s forwards;
}

.carousel-caption {
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  transform: translateY(105%);
  width: 20%;
  min-width: 150px;
  height: 60%;
  background-color: var(--blackBackground);
  z-index: 3;
  margin-bottom: 0px !important;
}

.carousel-inner .active .carousel-caption {
  animation: carouselItemAnimation 1s 1s forwards;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

.carousel-indicators {
  margin-bottom: 0px !important;
  /* margin-top: 5px !important; */
}

.carousel-indicators button {
  background-color: #000000 !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}

/* projectsComponent Style */
.projects-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-component .space-component-inner-container {
  max-width: var(--phoneMaxWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.projects-component .spaceComponent-text-container {
  max-width: 95%;
  margin-left: -10px;
}

.projects-component-inner-containr {
  max-width: var(--phoneMaxWidth);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsComponent-projects-container {
  display: grid;
  grid-template: 2fr 2fr / 2fr 2fr;
  gap: 20px;
  max-width: 95% !important;
  overflow: visible;
}

.projectsComponent-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectsComponent-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.see-more {
  background-color: var(--buttonBlack) !important;
}

.see-more-link {
  color: white !important;
  text-decoration: none;
}

.projectsComponent-project {
  background-color: none;
  width: 100%;
  height: 100%;
  min-height: 100px;
  transition: transform 0.1s;
  overflow: visible;
}

.projectsComponent-project-inner-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

/* .projectsComponent-project-inner-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transition: all 1s;
} */

/* .projectsComponent-project:hover
  .projectsComponent-project-inner-container::after {
  background-image: radial-gradient(
    rgba(254, 254, 254, 0),
    rgba(254, 204, 2, 0.075)
  );
  z-index: 999;
  animation: projectsHoverAnimation 0.5s linear;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
} */

.projectsComponent-project-image-container {
  width: 100%;
  height: 100%;
  /* margin-left: auto; */
}

.projectsComponent-project-image-container-2 {
  margin: 0px;
}

.projectsComponent-project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectsComponent-project-text-container {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-10%);
  /* margin: 0; */
  color: white;
  width: 40%;
  height: 30%;
  min-width: 100px;
  min-height: 50px;
  background-color: var(--projectsComponent-text-background-color);
  display: flex;
  align-items: center;
}

.projectsComponent-project-text-container-2 {
  width: 70%;
  height: 70%;
  left: 30%;
  bottom: 10%;
  margin: 0;
  background: none;
  border: 15px solid var(--projectsComponent-text-background-color);
  transform: translateX(10%);
}

.projectsComponent-project-text-container p {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.projectsComponent-project-2 {
  grid-area: 1 / 2 / 3 / 3;
}

/* News Component styles */
.news-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsComponent-see-more-button-col {
  max-width: 250px;
  display: flex;
  justify-content: flex-end;
  margin-top: 100%;
  bottom: 0;
}

.newsComponent-inner-container {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: var(--phoneMaxWidth);
}

.newsComponent-left-col {
  width: 100%;
  /* min-width: 80px; */
  aspect-ratio: 577 / 100;
  /* height: 100%; */
  /* background-color: #007bff; */
  display: flex;
  flex-direction: column;
}

.newsComponent-carouse-text-container {
  position: relative;
  height: 60%;
  /* min-height: 10px; */
  width: 140%;
  overflow: hidden;
}

.newsComponent-carouse-text {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0%);
  opacity: 0;
  transition: all 1s;
  word-break: break-all;
  display: -webkit-box; /* Flexbox with limited lines support */
  -webkit-box-orient: vertical; /* Set vertical orientation */
  -webkit-line-clamp: 3; /* Limit text to 3 lines */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis;
}

.newsComponent-carouse-active-text {
  transform: translate(0%, 0%);
  opacity: 1;
}

.newsComponent-see-more-button-col {
  position: relative;
  width: 100%;
  margin-bottom: 1px;
}

.newsComponent-see-more-button-col .see-more {
  width: 100%;
  height: fit-content;
  padding: 0px;
}

.newsComponent-see-more-button-col .see-more-link {
  cursor: pointer;
  /* background-color: #000; */
  z-index: 2;
  display: inline-block;
  position: relative;
  width: 100%;
}

.see-more-link span {
  color: #fff;
  display: block;
  padding-left: 0%;
  padding-right: 25px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 5px;
  transform: scaleX(0.9);
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}

.see-more-link em {
  position: absolute;
  height: 1px;
  background: #fff;
  width: 22%;
  right: 23px;
  top: 50%;
  transform: scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}

.newsComponent-see-more-button-col:hover .see-more-link em {
  width: 100%;
}

.newsComponent-see-more-button-col::before,
.newsComponent-see-more-button-col::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #ffffff0e;
  transition: transform 0.3s;
}

.newsComponent-see-more-button-col::before {
  left: 0;
  top: 0;
  transform: translateX(-100%);
}
.newsComponent-see-more-button-col::after {
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}

.newsComponent-see-more-button-col:hover::before,
.newsComponent-see-more-button-col:hover::after {
  transform: translateX(0%);
}

/* stack card carousel styles*/
.stack-cards-carousel {
  width: 100%;
  aspect-ratio: 183 / 115;
  /* background-color: #fcfcfc; */
}

.stack-cards-carousel-inner-container {
  width: 100%;
  height: 100%;
  /* width: calc(100%  - (var(--cardsDistance) * 2) + 10px); */
  /* aspect-ratio: 183 / 100; */
  position: relative;
  overflow: hidden;
}

.stack-cards-carousel-item {
  position: absolute;
  /* width: calc(100% - (2* var(--cardsDistance))); */
  /* width:  150px; */
  height: calc(100% - (2 * var(--cardsDistance)));
  aspect-ratio: 183 / 100;
  margin-top: calc(2 * var(--cardsDistance));
  margin-right: calc(2 * var(--cardsDistance));
  margin-bottom: 0px;
  right: 0;
  top: 0;
  transition: all 1s;
  border-top: 14px solid white;
  border-right: 14px solid white;
  background-color: #b67f7f;
}

.stack-cards-carousel-item-2 {
  background-color: #d8a04a;
}
.stack-cards-carousel-item-3 {
  background-color: #444883;
}
.stack-cards-carousel-item-4 {
  background-color: #6d9767;
}
.stack-cards-carousel-item-5 {
  background-color: #784272;
}

.stack-cards-carousel-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.arrow-Container {
  z-index: 10;
  position: absolute;
  /* width: calc(100% - (2* var(--cardsDistance))); */
  /* width:  150px; */
  height: calc(100% - (2 * var(--cardsDistance)));
  aspect-ratio: 183 / 100;
  margin-top: calc(2 * var(--cardsDistance));
  margin-right: calc(2 * var(--cardsDistance));
  margin-bottom: 0px;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
  padding-top: 14px;
}

.arrow-right,
.arrow-left {
  background-color: #00000020;
  height: 50px;
  width: 20px;
  cursor: pointer;
  position: relative;
  margin: 0px;
  color: #ffffff95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-right:active svg,
.arrow-left:active svg {
  transform: scale(0.8);
}

/* PartnersComponent Style */
.partnersComponent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--partnersComponent-background-color);
  overflow: hidden;
}

.partnersComponent-inner-container {
  max-width: var(--phoneMaxWidth);
}

.partnersComponent-row-1 {
  width: 100%;
  max-width: var(--phoneMaxWidth);
  /* background-color: var(--partnersComponent-background-color); */
  /* max-width: 1200px; */
  /* background-color: var(--partnersComponent-background-color); */
}

.white-see-more {
  background-color: var(--buttonWhite) !important;
}

.black-text {
  color: var(--blackText) !important;
}

.white-text {
  color: var(--whiteText);
}

.partners-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.partnersComponent-line {
  width: 60px;
  height: 3px;
  background-color: white;
  justify-self: flex-end;
  margin-bottom: 0px;
}

/* .partnersComponent-row-2 {
  width: 100%;
  
  overflow: hidden;
} */

.partnersComponent-carousel .slick-list {
  background-color: white;
}

.slider-container,
.slick-slider {
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

.slick-track {
  /* border: 1px solid rgba(128, 128, 128, 0.432); */
  height: 100% !important;
  margin-bottom: 0px;
}

.slick-list {
  margin-left: 0px !important;
  margin-right: 0px !important;
  height: 100%;
}

.slick-slide {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
}

.partnersComponent-carousel .slick-arrow {
  position: absolute;
  /* top: 0; */
  bottom: 0 !important;
  right: 0 !important;
  transform: translate(10px, 110%) scale(0.5);
  /* background: #de1a1a !important; */
  /* color: white !important; */
  padding: 13px;
  z-index: 3;
}

.partnersComponent-carousel .slick-prev {
  left: 100% !important;
  transform: translate(-150%, 110%) scale(0.5);
  /* color: white !important; */
}
.partnersComponent-carousel .slick-prev {
  left: 100% !important;
  transform: translate(-140%, 110%) scale(0.5);
  /* color: white !important; */
}

.partner-carousel-images-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.slick-slide div {
  margin-bottom: 0px;
  height: 100px;
}

.partner-carousel-image {
  width: 100%;
  height: 100%;
  max-height: 100px;
  object-fit: contain;
  padding-top: 5px;
  padding-bottom: 5px;
}

.partner-carousel-image-2 {
  object-fit: contain;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* footer styles */
.footer {
  background-color: var(--footerBackgroundColor);
}

.footer-icons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer a {
  color: var(--footer-icons-color);
}

.footer h5,
.footer p {
  color: var(--footer-text-color);
}

/* space component styles */
.space-component {
  background-color: #ffffff !important;
  display: flex;
  justify-content: center;
}

.space-component-inner-container {
  width: 100%;
  max-width: var(--phoneMaxWidth);
  /* padding-left: 3.5%; */
}

.spaceComponent-text-container h1 {
  color: rgba(128, 128, 128, 0.471);
  font-size: 2.3rem;
  display: inline;
  border-left: 5px solid rgb(225, 224, 181);
}
.spaceComponent-text-container h3 {
  color: rgba(192, 171, 108, 0.301);
  font-size: 1.5rem;
  /* line-height: 1.7rem; */
}

.space-component h1,
.space-component h3 {
  text-align: left;
}

/* scrollUp Styles */
.scrollUp-container {
  /* width: 40px;
  height: 40px; */
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 1000;
}

.scrollUp-icon {
  color: rgb(0, 0, 0);
  cursor: pointer;
  opacity: 0;
}

.scrollUp-2 {
  color: rgb(0, 0, 0);
}

.visible-scrollUp {
  opacity: 1;
}

/* Partners Page styles */
.partnersPage {
  background-color: var(--partnersPage-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partnersPage .space-component-inner-container {
  max-width: 100%;
}

.partners-page-row {
  /* max-width: var(--maxWidth); */
}

.partnersPage-col {
  aspect-ratio: 3/2;
}

.partnersPage-col-inner-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.partnercPage-img-container {
  width: 100%;
  height: 100%;
  /* background-color: #202023; */
  overflow: hidden;
}

.partnercPage-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.partnersPage-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000da;
  color: var(--whiteText);
  opacity: 0;
  transition: opacity 1s;
}

.partnersPage-col-inner-container:hover .partnersPage-text-container {
  opacity: 1;
}

.partnersPage-text-inner-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10% 15%;
}

.partnersPage-text-inner-container::before {
  content: "";
  position: absolute;
  left: 7%;
  top: 7%;
  width: 10px;
  height: 1px;
  background-color: white;
  transition: all 1s;
}

.partnersPage-text-inner-container::after {
  content: "";
  position: absolute;
  left: 7%;
  top: 7%;
  width: 1px;
  height: 10px;
  background-color: white;
  transition: all 1s;
}

.partnersPage-col-inner-container:hover
  .partnersPage-text-inner-container::before {
  width: 90%;
  left: 0;
}
.partnersPage-col-inner-container:hover
  .partnersPage-text-inner-container::after {
  height: 90%;
  top: 0;
}

.partnersPage-text-container p {
  text-align: left;
  word-break: break-all;
}

.partnersPage-link {
  position: absolute;
  bottom: 0;
  left: 15%;
  cursor: pointer;
  padding-bottom: 3%;
}

.partnersPage-link button a {
  color: var(--whiteText);
  text-decoration: none;
}

/*news Page styles*/
.newsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsPage-row-1 {
  width: 100%;
  /* display: block; */
}
.newsPage-row-2 {
  max-width: var(--phoneMaxWidth);
}

.newsPage-col {
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
}

.newspage-text-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.newspage-text-image-container P {
  word-break: break-all;
  text-align: left;
  font-size: 16px;
  position: relative;
}

.newsPage-news-text-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
}
.newsPage-news-text-container div {
  height: 100%;
  overflow: hidden;
}

.newsPage-button {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  /* height: 30px; */
}

/* single pages styles */
.single-news-image-row img {
  max-height: 70vh;
}

.newsPage-image-container {
  width: 50%; /* Image container takes 50% of the parent */
  aspect-ratio: 3 / 2;
  overflow: hidden; /* Ensure no overflow issues */
}

.newsPage-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image fits nicely */
}

/* Designers Page styles */
.designersPage {
  /* max-width: var(--maxWidth); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.desigrenspage-row {
  max-width: var(--phoneMaxWidth);
  display: flex;
  justify-content: center;
}

.designersPage-card-col {
  /* border-radius: 0px !important; */
}

.designersPage-card {
  border: none !important;
  border-radius: 0px !important;
  box-shadow: 0px 3px 10px grey;
}

.designersPage-cards-images-top {
  position: relative;
  width: 100%;
  aspect-ratio: 4/4;
  /* height: 300px; */
  margin-bottom: 0px !important;
  overflow: hidden;
}

.designersPage-background-image-container {
  /* border: 1px solid black; */
  width: 100%;
  height: 77%;
  margin-bottom: 0px !important;
}

.designersPage-background-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

.designersPage-designer-image-container {
  position: absolute;
  height: 46%;
  aspect-ratio: 1/1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0px !important;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}

.designersPage-designer-image-container img {
  height: 100%;
}

.designersPage-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--designerCardsBody-background-color); */
  margin-bottom: 0px !important;
  height: 100%;
  color: black !important;
}

.designersPage-card-body p,
.designersPage-card-body div {
  color: black !important;
}

.designersPage-button-group {
  /* border: 1px solid white; */
  /* display: flex !important; */
  gap: 15px;
}

.designersPage-button-group a {
  color: rgb(53, 52, 52) !important;
  border: 1px solid rgba(31, 31, 31, 0.31);
  height: 40px;
  width: 40px;
  border-radius: 50% !important;
  position: relative;
  transition: all 0.5s;
}

.designersPage-button-group a:active {
  color: white !important;
}

.designersPage-button-group a:hover {
  transform: rotateY(180deg);
  border-color: rgb(255, 255, 255);
  background-color: #2f2f2f !important;
}

.designersPage-button-group a:hover svg {
  transform: translate(-50%, -50%) rotateY(180deg);
  color: white !important;
}

.designersPage-button-group a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

/* single news page styles */
.news-article {
  /* background-color: #ffffff; */
  height: fit-content;
}

.news-article {
  background-color: #ffffff;
  height: fit-content;
  border: 1px solid rgba(128, 128, 128, 0.247);
}

.single-news-page-carousel-container .carousel-indicators button {
  margin-bottom: -30px !important;
  background-color: black !important;
}

.single-news-carousel-image-container {
  width: 100%;
  aspect-ratio: 2/1;
}

.news-article p {
  display: inline-block !important;
  width: 100%;
  word-wrap: break-word;
  height: fit-content;
}

.news-article a,
.news-article figure {
  max-width: 100% !important;
}

.news-article img {
  max-width: 100%;
  /* max-height: 80vh; */
  object-fit: contain;
}

.news-article p {
  display: inline-block !important;
  width: 100%;
  word-wrap: break-word;
  height: fit-content;
}

.news-article a,
.news-article figure {
  max-width: 100% !important;
}

.news-article img {
  max-width: 100%;
  /* max-height: 80vh; */
  object-fit: contain;
}

/* projects page style */
.projects-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.projects-page-project-col {
  position: relative;
}

.projects-page-img-container {
  width: 100%;
  max-height: 70hv;
}

.projects-page-inner-containr {
  width: var(--phoneMaxWidth);
}

.projects-page-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-page-title-container {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: black;
  color: white;
}

.projects-page-title-container h3 {
  margin-bottom: 0px;
  display: flex;
  align-items: center !important;
  justify-content: center;
  height: fit-content;
}

/* Single project page*/
.single-project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.single-project-page-projects-container {
  width: var(--phoneMaxWidth);
}

.singleProjectCarousel {
  width: 100%;
  height: 50vh;
}

.singleProjectCarousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact page styles*/
.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contact-page-row-1 {
  width: var(--phoneMaxWidth);
}

.form {
  max-width: var(--phoneMaxWidth);
}

.visitor-book-component {
  width: var(--phoneMaxWidth) !important;
}

.visitor-book-component .form-control {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.form-floating label {
  z-index: 0 !important;
}

.input-container {
  position: relative;
}

.visit-date-col .form-floating {
  height: 100% !important;
  display: flex;
  flex-direction: column-reverse;
}

.visit-date-col label {
  top: 0;
  position: relative !important;
  padding: 0px !important;
  padding-left: 12px !important;
  display: inline !important;
  margin-bottom: 0px !important;
  font-size: 13px !important;
  height: fit-content !important;
  color: grey;
}

.react-datepicker__input-container .form-control {
  padding-top: 0px !important;
}

.react-datepicker__month-container {
  z-index: 5 !important;
}

.form-select {
  padding-bottom: 0px !important;
}

.input-group {
  position: relative;
}

.input-group .form-control {
  border: 1px solid #ced4da; /* Bootstrap's default border color */
  border-radius: 0.25rem; /* Bootstrap's default border radius */
  padding: 0.375rem 0.75rem; /* Bootstrap's default padding */
  box-shadow: none; /* Remove default shadow */
}

.input-group-text {
  background-color: #007bff; /* Bootstrap primary color */
  color: white; /* White text for better contrast */
  border: none; /* Remove border for the icon */
  border-top-right-radius: 0.25rem; /* Rounded corners to match input */
  border-bottom-right-radius: 0.25rem; /* Rounded corners to match input */
  cursor: pointer; /* Pointer cursor for better UX */
}

.react-datepicker-popper {
  margin-left: 40px;
}

/* Add hover effect for better UX */
.input-group-text:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.booked-time {
  background-color: rgba(255, 0, 0, 0.555);
  color: rgba(0, 0, 0, 0.288);
  /* text-decoration: line-through; */
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  /* justify-content: space-between; */
  width: var(--phoneMaxWidth) !important;
  background-color: white;
}

.contact-info-container {
  width: 270px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #000000;
  color: white;
  margin-top: 40px;
}

.contact-page-map-row {
  width: 100%;
}

.map-container {
  z-index: 0;
}

.fa-location-dot {
  color: red;
  font-size: 30px;
}

/*Registration page*/
.registration-form {
  width: 400px;
}

/* admin dashbord */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.error {
  color: red;
  text-align: center;
}

.dashboard-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.admin-text-edditor-row {
  display: flex;
  justify-content: center;
}

.jodit-react-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.joditComponent-container {
  max-width: 800px !important;
  margin-top: 1px;
  width: 100%;
}

.jodit-container {
  width: 100% !important;
}

.jodit-status-bar {
  height: 30px !important;
  margin: 5px;
}

.jodit-status-bar__item div {
  margin-bottom: 0px !important;
}

.jodit-workplace {
  min-height: 500px !important;
}

.jodit-dialog {
  z-index: 1050 !important;
}

.login-container h1 {
  text-align: center;
}

.login-container p {
  text-align: center;
  font-size: 1.2rem;
}

.admin-buttons-container {
  height: 50px !important;
}

/*admin designer*/

@keyframes stackCarouselItemAnimation {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@keyframes carouselItemAnimation {
  from {
    transform: translateY(105%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes heroBannerImageAnimation {
  /* 0% {
    opacity: 1;
    transform: translateY(0%);
  }
  10% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(100%);
  }
  90% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  } */
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes heroBannerLeftTextAnimation {
  0% {
    height: 60%;
    transform: translateY(0%);
  }
  10% {
    height: 60%;
    transform: translateY(0%);
  }
  30% {
    height: 60%;
    transform: translateY(-100%);
  }
  40% {
    height: 60%;
    transform: translateY(-100%);
  }
  50% {
    height: 60%;
    transform: translateY(-100%);
  }
  60% {
    height: 60%;
    transform: translateY(-100%);
  }
  70% {
    /* height: 100%; */
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(-100%);
    height: 60%;
  }
  90% {
    transform: translateY(-100%);
    height: 100%;
  }
  100% {
    transform: translateY(-200%);
    height: 100%;
  }
}
@keyframes heroBannerButtonAnimation {
  0% {
    /* height: 40%; */
    transform: translateY(0%);
  }
  10% {
    /* height: 40%; */
    transform: translateY(315%);
  }
  30% {
    /* height: 40%; */
    transform: translateY(315%);
  }
  40% {
    /* height: 40%; */
    transform: translateY(315%);
  }
  50% {
    /* height: 40%; */
    transform: translateY(315%);
  }
  60% {
    /* height: 60%; */
    transform: translateY(315%);
  }
  70% {
    /* height: 100%; */
    transform: translateY(315%);
  }
  80% {
    transform: translateY(315%);
    /* height: 100%; */
  }
  90% {
    transform: translateY(315%);
    /* height: 100%; */
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(315%);
    /* height: 100%; */
  }
}
@keyframes heroBannerButtonAnimation2 {
  0% {
    height: 100%;
    transform: translateY(0%);
  }
  10% {
    height: 100%;
    transform: translateY(100%);
  }
  20% {
    height: 80%;
    transform: translateY(220%);
  }
  30% {
    height: 40%;
    transform: translateY(400%);
  }
  50% {
    /* height: 40%; */
    transform: translateY(400%);
  }
  60% {
    /* height: 60%; */
    transform: translateY(400%);
  }
  70% {
    /* height: 100%; */
    transform: translateY(400%);
  }
  80% {
    /* display: flex; */
    transform: translateY(400%);
    height: 40%;
  }
  90% {
    transform: translateY(340%);
    height: 46%;
  }
  100% {
    /* display: flex; */
    transform: translateY(500%);
    height: 50%;
  }
}
@keyframes heroBannerButtonAnimation3 {
  0% {
    transform: translate(150%, -10%);
    opacity: 0;
  }
  10% {
    transform: translate(150%, -10%);
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(150%, -10%);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -10%);
  }
  50% {
  }
  60% {
  }
  70% {
  }
  85% {
  }
  90% {
  }
  91% {
    transform: translate(-50%, -10%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
}
@keyframes heroBannerButtonAnimation4 {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -10%);
  }
  50% {
  }
  60% {
  }
  70% {
  }
  85% {
  }
  90% {
  }
  91% {
    transform: translate(-50%, -10%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
}
@keyframes heroBannerLeftTextAnimation2 {
  0% {
    height: 60%;
    transform: translateY(0%);
  }
  10% {
    height: 60%;
    transform: translateY(0%);
  }
  30% {
    height: 60%;
    transform: translateY(-100%);
  }
  40% {
    height: 60%;
    transform: translateY(-100%);
  }
  50% {
    height: 60%;
    transform: translateY(-100%);
  }
  60% {
    height: 60%;
    transform: translateY(-100%);
  }
  70% {
    /* height: 100%; */
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(-100%);
    height: 60%;
  }
  90% {
    transform: translateY(-100%);
    height: 60%;
  }
  100% {
    transform: translateY(-100%);
    height: 60%;
  }
}

@keyframes heroBannerLeftTextBottomInnerTopAnimation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroBannerLeftTextBottomInnerBottomAnimation {
  0% {
    margin-top: 30px;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroBannerTextLeftMove {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes moveToNextSlideForActiveSlide {
  0% {
    transform: translate(0%, 0%);
    /* transition: transform 5s; */
  }
  30% {
    transform: translate(-30%, -30%);
    /* transition: transform 5s; */
    /* z-index: 1; */
  }
  100% {
    transform: translate(
      calc(20% * var(--cardsArrayLength)),
      calc(20% * var(--cardsArrayLength))
    );
    opacity: 1;
    z-index: 1;
  }
}

@keyframes projectsHoverAnimation {
  from {
    width: 0%;
    height: 0%;
    transform: translate(-50%, -50%);
  }
  to {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 450px) {
}

@media (min-width: 450px) {
  /* newsComponent styles*/
  .stack-cards-carousel {
    width: 100%;
    aspect-ratio: 183 / 110;
  }
  .newsComponent-carouse-text {
    -webkit-line-clamp: 4;
  }
}

@media (min-width: 550px) {
  /* newsComponent styles */
  .newsComponent-carouse-text-container {
    width: 100%;
  }

  .stack-cards-carousel {
    width: 100%;
    aspect-ratio: 183 / 107;
    /* background-color: #fcfcfc; */
  }

  /* newsPage styles */
  .newsPage-button {
    width: 20%;
    min-width: 250px;
    height: 40px;
    font-size: 18px !important;
  }
}

@media (min-width: 576px) {
  .partnersComponent-carousel .slick-arrow {
    left: 0 !important;
    top: 0 !important;
  }

  .slick-list {
    margin-left: 25px !important;
  }

  .partnersComponent-carousel .slick-prev {
    transform: translate(-12px, -12px) scale(0.5);
  }
  .partnersComponent-carousel .slick-next {
    transform: translate(-12px, 15px) scale(0.5);
  }
}

@media (min-width: 700px) {
  .cards-container {
    height: 250px;
  }

  .newsComponent-carouse-text-container {
    width: 100%;
  }

  /*news page styles*/
  .newspage-text-image-container P {
    font-size: 18px;
  }
}

@media (min-width: 800px) {
  .form-info {
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;
  }

  .form-info form,
  .contact-info-container {
    width: 100%;
  }

  .contact-info-container {
    height: 100%;
    margin-top: 0;
  }

  .form-info form .submit-button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .navbar-nav a {
    font-weight: 500 !important;
    font-size: 17px !important;
  }
}

@media (min-width: 1000px) {
  /* Navbar styles */
  .navbar-logo {
    width: 250px;
  }

  .navbar-nav a {
    font-weight: 500 !important;
    font-size: 15px !important;
  }

  /* newsPage styles */
  .newsPage {
    max-width: var(--maxWidth);
  }

  .newspage-text-image-container P {
    font-size: 22px;
  }

  .newsPage-button {
    width: 30%;
    max-width: 250px;
    height: 50px;
    font-size: 22px !important;
  }

  /*Single news page */

  .singleNewsComponent {
    max-width: var(
      --singleNewsMaxWidth
    ) !important; /* Set a maximum width for the news container */
    margin: 20px auto; /* Center the container */
    padding: 20px; /* Add padding */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }

  .news-article {
    background-color: #ffffff; /* White background for each article */
    border: 1px solid #dee2e6; /* Light border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside each article */
    transition: box-shadow 0.3s; /* Smooth shadow transition */
  }

  .news-article:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Shadow on hover */
  }

  /* designers page styles */
  .designersPage {
    max-width: var(--maxWidth);
  }

  .designersPage-button-group a:hover {
    transform: rotateX("180");
  }

  /* Spinner styling */
  .spinner {
    margin-bottom: 15px; /* Space below the spinner */
  }

  .alert {
    margin-top: 15px; /* Space above alert */
  }

  /* projects page style */
  .projects-page {
    max-width: var(--maxWidth);
  }

  /* Partners compoenent syles */
  .partnersComponent-row-1 {
    max-width: var(--maxWidth) !important;
  }

  /*contact page*/
  .visitor-book-component {
    width: 70% !important;
    /* width: var(--maxWidth) !important; */
  }

  .form-info {
    position: relative;
    justify-content: flex-start;
    width: 80% !important;
  }

  .form-info form,
  .contact-info-container {
    width: 50%;
  }

  .form-info form {
    width: 70%;
  }

  .contact-info-container {
    position: absolute;
    right: 0;
    top: 50%;
    height: calc(100% - 96px);
    transform: translate(50%, -50%);
  }
}

@media (min-width: 1200px) {
  .navbar-nav a {
    font-weight: 500 !important;
    font-size: 18px !important;
  }

  @media (min-width: 1400px) {
    .navbar-nav a {
      font-weight: 600 !important;
      font-size: 19px !important;
    }
    /*contact page*/
    .visitor-book-component {
      width: var(--maxWidth) !important;
    }
  }
}

/* 
.cards-box {
  position: relative;
  transform: translateX(-15px);
  width: fit-content;
  height: 100%;
}

.cards-box .card {
  width: calc(18rem + 19vh);
  max-width: 80vw;
  background: #f7fffd;
  border-radius: 0px;
  cursor: pointer;
}

.cards-box .newsComponent-image {
  height: 150px;
}

.cards-box .card.hide {
  visibility: hidden;
}

.cards-box .card:not(.hide) {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}

.cards-box .card:not(.hide)[data-slide='0'] {
  transform: translate(0px, 0px) scale(1);
  z-index: 6;
  opacity: 1;
}

.content-placeholder {
  padding: 14px 18px 20px;
}

.content-placeholder .row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: calc(0.8rem + 0.4vw);
}

.content-placeholder .row .img {
  flex-shrink: 0;
  position: relative;
  margin-right: 20px;
  background: #5eebc6;
  width: calc(56px + 2vw);
  height: calc(56px + 2vw);
  border-radius: 50%;
}

.content-placeholder .row .img::after {
  content: attr(data-letter);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(30px + 1vw);
  font-weight: bold;
  color: white;
}

.content-placeholder .row .img-text {
  background: #a7f4e0;
  width: 45%;
  min-width: 145px;
  height: 20px;
  margin-top: -20px;
  border-radius: 10px;
}

.content-placeholder .row .img-text::after {
  content: "";
  display: block;
  width: 80%;
  height: 10px;
  margin-top: 30px;
  background: #a7f4e0;
  border-radius: 10px;
}

.content-placeholder .text {
  background: #a7f4e0;
  width: 90%;
  height: 2vh;
  min-height: 12px;
  max-height: 14px;
  border-radius: 10px;
}

.content-placeholder .text.text--m {
  width: 80%;
  margin-top: 2vh;
  height: 2vh;
  min-height: 12px;
}

.content-placeholder .text.text--s {
  width: 70%;
  margin-top: 2vh;
  height: 2vh;
  min-height: 12px;
}

.content-placeholder .btn {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #11d5af;
  border-radius: 40px;
} */

.max-width-50 {
  max-width: 50% !important;
  aspect-ratio: 4 / 3;
  object-fit: cover !important;
}
